body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    color: #333;
}

.box {
    background: white;
    padding: 15px;
    margin: 15px auto;
    width: 300px;
    border-radius: 8px;
}

input {
    display: block;
    margin: 5px auto;
    padding: 6px;
    width: 90%;
}

button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}
